@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8A8E90;
  --secondary: #212327;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #121212;
}

.font-aguafina-script {
  font-family: 'Aguafina Script', cursive;
}

.font-jacques-francois-shadow {
  font-family: 'Jacques Francois Shadow', cursive;
}

.jolly-logder {
  font-family: 'Jolly Lodger', cursive;
}

